.wrapper__top
  .wrapper__top__left
    = link_to root_path, class: 'index' do
      = image_tag 'log.png', class:'log'
    .wrapper__top__left__box
      - if user_signed_in? 
        = link_to "新規投稿", new_post_path, class: 'new-set'
    .wrapper__top__left__search